node_modules
build
dist
/.vscode
/.git
templates
.prettierrc
.eslintrc.json
vite-env.d.ts
.eslintrc.json
vite.config.ts
setup.ts
coverage
.husky
postcss.config.js
tailwind.config.js
vite-env.d.ts
setup.ts